<h2>About</h2>

	<!--=============================================================-->
<section class="row-fluid">
			
	<div class="span8">
		<h3 class="box-header">
		<i class="icon-lightbulb"></i>
		Why?
		</h3>
		<div class="box">
		<p>Schooltracker is a mini-project I've been working on in my spare time. The main reasons for spending the hours coding it (rather than swanning off to sunnier climes) are:
		<ul>
		<li>
		to help me keep track of who's applying where
		</li>
		<li>
		to trial a better way of sharing that information with Year 6 form teachers (and subject teachers if interested)
		</li>
		<li>
		to see what happens when the data is made more visible.  It's a <a href="http://www.forbes.com/sites/lisaquast/2012/08/20/why-knowledge-management-is-important-to-the-success-of-your-company/">knowledge management thing</a>.
		</li>
		<li>
		and to keep my eye in coding-wise.
		</li>
		</ul>
		</p>
		<p>Anyway, as it's a hobby-horse, it'll probably buck. I'd love to get some real-life feedback - is it useful, how could it be better etc.  Please send any feedback to: <a href="mailto://pyoung@fulhamprep.co.uk">pyoung@fulhamprep.co.uk</a>. Or squeeze in between Mr Milburn and me on the brown sofas as we discuss ladders at break-time. If I don't act on the feedback straight away, it's not because I'm not listening ... just that I have a dayjob.</p>
		</div>
	</div>

<div class="span4">
		<h3 class="box-header">
		<i class="icon-camera-retro"></i>
		Who?
		</h3>
		<div class="box">
		<p>
		
		<center><%= image_tag("py.jpg", :class => "img-circle") %></center><br/>

		</p>
		</div>
	</div>
</section>

