<h2>Data</h2>

	<!--=============================================================-->
<section class="row-fluid">
			
	<div class="span12">
		<h3 class="box-header">
		<i class="icon-tasks"></i>
		Holding page
		</h3>
		<div class="box">
		<p>May or may not use this page.  Thought could be a page of useful charts/data - things that people like to see at a glance ... not sure what so pending any <a href="mailtp://pyoung@fulhamprep.co.uk">feedback</a>.
		</p>
		</div>
	</div>


<section class="well row-fluid " id="easy-pie-charts">
			<h3 class="box-header">
				Information that is both useful and important[<a href="http://weirdfacts.com/fun-facts-a-stuff/3061-percents-and-stats.html">source</a>]
			</h3>
			<div class="box no-border non-collapsible">
				
				<div class="span2">
					<div id="easy-pie-chart-1" data-percent="75">
						75%
					</div>
					<div class="caption">
					American adults who dye their hair
					</div>
				</div>
				
				<div class="span2">
					<div id="easy-pie-chart-2" data-percent="25">
						25%
					</div>
					<div class="caption">
						World's forests that are in Siberia
					</div>
				</div>

				<div class="span2">
					<div id="easy-pie-chart-3" data-percent="33">
						1 in 3
					</div>
					<div class="caption">
						Dog owners who have spoken to pets on phone
					</div>
				</div>

				<div class="span2">
					<div id="easy-pie-chart-4" data-percent="99">
						99%
					</div>
					<div class="caption">
						Indian truck drivers who can't read signs
					</div>
				</div>

				<div class="span2">
					<div id="easy-pie-chart-5" data-percent="12">
						12%
					</div>
					<div class="caption">
						Businessmen who wear their ties so tight that they restrict the blood flow to their brain.
					</div>
				</div>

				<div class="span2">
					<div id="easy-pie-chart-6" data-percent="5">
						5%
					</div>
					<div class="caption">
						People who dream in colour
					</div>
				</div>
			</div>
		</section>
		<!-- / Server statistics -->