<h2>New submission</h2>

	<!--=============================================================-->
<section class="row-fluid">
			
	<div class="span12">
		<h3 class="box-header">
		<%= link_to 'Back', submissions_path %>
		</h3>
		<div class="box">
			<%= render 'form' %>
		</div>
	</div>

</section>