		<!-- Page footer
			================================================== -->
		<footer id="main-footer">
			Copyright © 2013 <a href="http://www.monkeymagic.net">Piers Young</a>, all rights reserved.
			<a href="#" class="pull-right" id="on-top-link">
				Back up  &nbsp;<i class=" icon-chevron-up"></i>
			</a>
		</footer>
		<!-- / Page footer -->